<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Entrar — Sistema UBS</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>
    <nav class="nav">
        <a href="/" class="nav-link">Início</a>
        <a href="/register" class="nav-link">Cadastre-se</a>
        <img src="/static/images/ubs.png" class="nav-logo">
    </nav>
</header>

<main class="center-box">
    <h1>Entrar</h1>

    <form class="form-card">
        <label>Email:</label>
        <input type="email" placeholder="Digite seu email" required>

        <label>Senha:</label>
        <input type="password" placeholder="Digite sua senha" required>

        <button type="submit" class="btn">Entrar</button>
    </form>
</main>

</body>
</html>
